@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 205.71 28% 95.1%;
    --card-foreground: 222.2 84% 4.9%;

    --muted: 205.71 28% 95.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 252 100% 94%;
    --accent-foreground: 252 100% 65%;

    --primary: 252 100% 65%;
    --primary-foreground: 210 40% 98%;
    --primary-hover: 252 100% 65%;
    --primary-disabled: 252 100% 65%/ 0.16;

    --secondary: 205 100% 64%;
    --secondary-foreground: 0 0% 100%;
    --secondary-hover: 205 100% 64%/ 0.6;
    --secondary-disabled: 205 100% 64%/ 0.16;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 224 67% 12% / 0.2;
    --popover: 0 0% 100%;
    /* --ring: 0 0% 30.2%; */

    --radius: 0.5rem;

    --error: 4 100% 59%;
    --error-foreground: 223 67% 12%/0.6;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;

    /* 让 mac 系统上的字体看起来更细一些，使呈现效果更贴近 figma */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Masonry 网格基础样式 */
.masonry-grid {
  margin: 0 auto;
}

.masonry-item {
  width: 100%;
  margin-bottom: 20px; /* 与 gutter 值保持一致 */
  break-inside: avoid; /* 防止项目被分割到不同列 */
}

/* 响应式调整 */
@media (max-width: 768px) {
  .masonry-item {
    width: 100%;
  }
}
